html {
    --picWidth: 1000px;
}
.yellowtext {
    color: #ffde85
}
.yellowtextshadow {
  color: #ffde85;
  text-shadow: 0.9px 0.9px 0.9px black;
}
.kfont {
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
}
body {
    margin: 0;
    padding: 0;
    background-color: #362f2d;
    font-family: 'Lato', sans-serif;
    background-image: url('../images/eventsbackg.png');
    background-repeat: repeat-y;
    background-position: center;
}
body.home {
    background-image: none;
    background-color: #362f2d;
}
body.chaps {
    background-image: none;
    background-color: #362f2d;
}
body.events {
    background-image: url('../images/eventsbackg.png');
    background-repeat: repeat-y;
    background-position: center;
}
body.contact {
    background-image: url('../images/contacttt.png');
    background-position: center;
}


/*Mobile Navigation Bar - ALL PAGES*/

.logo img {
    position: absolute;
    padding-top: 5px;
    padding-left: 10px;
    max-width: 100px;
}
nav {
    display: none;
    clear: both;
    justify-content: center;
    background: #473e3c;
    flex-direction: column;
}
nav a {
    padding: 20px;
    color: white;
    background: #362f2d;
    text-decoration: none;
    transition: all 1.5s;
}
nav a.active {
    background-color: #ffde85;
    color: #362f2d;
}
.menu {
    background: #362f2d;
    padding: 18px;
    text-align: right;
    color: #fff;
    line-height: 2em;
}
.menu-toggle {
    display: flex;
}


/*Mobile Image Header - HOME PAGE*/

#mobileheader {
    width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    color: white;
    z-index: 10;
    text-align: center;
    overflow: auto;
}
h2{
    top: 90px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Kaushan Script', cursive;
    text-decoration: none;
    position: absolute;
    text-shadow: 2px 2px black;
    font-size: 45px;
}
h3{
    visibility: hidden;
}
#header {
    display: none;
}
.fullwidth {
    width: 100%;
    height: 100%;
}


/*Mobile About Us Section - HOME PAGE*/

.text-block {
    text-align: center;
    margin-top: -300px;
    color: black;
    padding-top: 300px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 60px;
    background-position: center;
    background-image: url('../images/homebackimg.png');
}
.text-block a {
    color: #ffde85;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
}

h1 {
    top: 230px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Kaushan Script', cursive;
    text-decoration: none;
}
p{
    top: 390px;
    margin: 100px;
    font-size: 17px;
    width: 100%;
    margin: 0 auto;
    font-weight: normal;
}


/*Mobile Facilities Section - HOME PAGE*/

.facilitiesbox h1, .facilitiesbox > img, .facilitiesbox p {
    background-color: #362f2d;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    overflow: auto;
    box-sizing: border-box;
}
.facilitiestext {
    text-align: center;
}
.facilitiesbox h1 {
    padding-top: 30px;
}
.facilitiesbox a {
    text-decoration: none;
}
.slideshow {
    margin: 2em auto 1em;
    width: 400px;
    height: 270px;
    overflow: hidden;
    position: relative;
    padding-bottom: 20px;
}
.slideshow img {
    position: absolute;
    width: 400px;
    animation: round 21s infinite;
    opacity: 0;
}
@keyframes round {
    25% {
        opacity: 1;
   }
    50% {
        opacity: 0;
   }
}
img:nth-child(1) {
    animation-delay: 21s;
}
img:nth-child(2) {
    animation-delay: 14s;
}
img:nth-child(3) {
    animation-delay: 7s;
}
img:nth-child(4) {
    animation-delay: 0s;
}


/*Mobile Events Section - HOME PAGE*/

.text-block-two {
    text-align: center;
    color: black;
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 60px;
    background-position: center;
    background-image: url('../images/homebackimgtwo.png');
}
.text-block-two a {
    text-decoration: none;
    color: black;
}
.inner-box {
    background-color: #362f2d;
    text-align: left;
    color: white;
    padding: 15px;
    margin: 20px;
    border: 1px solid #ffde85;
}
.inner-box img {
    float: left;
    padding-right: 15px;
}
.inner-box a {
    color: #ffde85;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
}


/*Mobile CHAPs Section - HOME PAGE*/

.chapsbox {
    background-color: #362f2d;
    text-align: center;
    width: 100%;
    padding: 30px;
    color: white;
    box-sizing: border-box;
}
.chapsbox a {
    text-decoration: none;
    color: inherit;
}
video {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    border: none;
    width:100%;
}
.video-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    border: none
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    border: none
}


/*Mobile Background Image - EVENTS PAGE*/

.upcomingevents {
    text-align: center;
    margin-top: -300px;
    color: black;
    padding-top: 300px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 60px;
}
.upcomingevents a {
    color: #ffde85;
    text-shadow: 1px 1px 1px black;
    text-decoration: none;
}


/*Mobile Upcoming Events- EVENTS PAGE*/

.calendar li {
    list-style: none;
    padding: 20px;
    text-align: left;
}
.calendar li img {
    float: left;
    padding-right: 50px;
}


/*Mobile Events Boxes - EVENTS PAGE*/

.events-box {
    background-color: #362f2d;
    text-align: left;
    color: white;
    padding: 20px;
    border: 1px solid #ffde85;
    width: 90%;
    overflow: auto;
    margin: 30px;
    box-sizing: border-box;
}
.events-box img {
    float: right;
    margin-left: 15px;
    border: 2px solid #ffde85;
    width: 250px
}
.events-box a {
    color: #ffde85;
    text-decoration: none;
}
.events-box-two {
    text-align: right;
}
.events-box-two img {
    float: left;
    margin-left: 0px;
    margin-right: 15px;
}


/*Mobile Facilities List - FACILITIES PAGE*/

.facilities li {
    list-style: square;
    padding: 7px;
}
.events-box-yellow {
    background-color: rgba(54, 25, 25, .00004);
   /* background-color: #ffde85; */

    color: black;
   /* border: 2px solid #362f2d */
}

/*Mobile Obstacles Block - CHAPs PAGE*/

.obstaclesbox {
    padding: 15px;
}
.obstaclesbox img {
    padding: 10px;
    opacity: 0.8;
    width: 55px;
}
.obstaclesbox img:hover {
    transform: scale(1.2);
    transition: 0.3s;
    opacity: 1.0
}
.responsive {
  width: 100%;
  max-width: 980px;
  height: auto;
  padding-top: 20px;
}


/*Mobile Price Block - CHAPs PAGE*/

.columns {
  float: left;
  width: 100%;
  padding: 8px;
  z-index: 20
}
.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 20
}
.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
  z-index: 20
}
.price .header {
  background-color: #362f2d;
  color: white;
  font-size: 25px;
}
.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}
.price .grey {
  background-color: #eee;
  font-size: 17px;
}
.button {
  background-color: #ffde85;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}
#chapsposter {
    display: none;
}

/*Mobile Contact Block - CONTACT PAGE*/

.contact-title {
    text-align: center;
    color: white;
    padding: 60px;
}
.contact-block {
    padding: 20px;
}
.contact-form {
    display: none;
}
.contact-info {
    margin-top: -30px
}
.contact-info li {
    list-style: none;
    color: white;
    padding: 30px;
}
.contact-info li img {
    float: left;
    padding-right: 20px;
    margin-top: -10px;
}
.contact-address li {
    list-style: none;
    color: white;
    padding: 30px;
}
.contact-address li div {
    float: left;
}
.contact-address li img {
    float: left;
    padding-right: 20px;
    margin-top: 15px;
}

.contact-map {
  max-width: 1000px;
  margin: 0 auto;
}
.contact-map iframe {
    margin: 50px auto;
    height: 350px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ffde85;
}


/*Mobile Footer - ALL PAGES*/

footer {
    min-height: 300px;
    color: white;
    background-image: url('../images/footer.png');
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0em 1em 2em 1em;
    background-position: center;
}
footer div {
    width: 30%;
    text-align: center;
}
footer a {
    text-decoration: none;
    color: inherit;
}
.footerbox {
    width: 100%;
    padding: 10px 10px 10px 10px;
    color: white;
    box-sizing: border-box;
    clear: both;
    display: block;
    color: white;
    background-color: #362f2d;
}
.footerbox img {
    margin-bottom: -15px;
}
.footerbox-right {
    text-align: right;
    margin-top: -47px
}


@media screen and (min-width: 765px) {


   /*Mob/iPad Navigation Bar - ALL PAGES*/

    .logo img {
        position: absolute;
        padding-top: 20px;
        padding-left: 10px;
        max-width: 100%;
   }
    .menu {
        display: none;
   }
    nav {
        display: flex;
        flex-direction: row;
        font-size: 18px;
        justify-content: flex-end;
   }
    nav a {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 50px;
        padding-top: 50px;
   }
    nav a:hover {
        color: black;
        background: #ffde85;
   }


   /*iPad Slideshow Facilities Section - HOME PAGE*/

    .slideshow {
        width: 700px;
        height: 470px;
   }
    .slideshow img {
        width: 700px;
   }


   /*iPad Events Boxes - EVENTS PAGE*/

    .events-box {
        margin: 30px 30px 30px 60px;
   }
    .events-box img {
        width: auto;
   }


   /* iPad Facility Box - FACILITY PAGE*/

    #leftbox {
        float: left;
        display: inline-block;
        margin-right: 50px;
   }
    #midbox {
        float: right;
        display: inline-block;
        padding-left: 20px;
   }
    #rightbox {
        float: left;
        display: inline-block;
   }

 /*CHAPs Price Box - CHAPs PAGE*/

   .columns {
     float: left;
     width: 30.9%;
     padding: 8px 8px 30px 8px;
   }

   /*Contact Form - CONTACT PAGE*/

    .contact-form {
        padding: 20px;
        margin-top: -50px;
        margin-right: 30px;
        display: inline-block;
        float: right;
   }
    input[type=text],
    input[type=email],
    select,
    textarea {
        width: 90%;
        padding: 10px;
        border: 2px solid #ffde85;
        border-radius: 4px;
        box-sizing: border-box;
        margin-left: 30px;
        margin-top: 5px;
        margin-bottom: 12px;
        resize: vertical;
        font-size: 15px;
   }
    input[type=submit] {
        margin-left: 30px;
        background-color: #362f2d;
        color: white;
        padding: 13px 40px;
        border: 1px solid #ffde85;
        border-radius: 4px;
        cursor: pointer;
        font-size: 15px;
   }
    input[type=submit]:hover {
        background-color: #ffde85;
        color: black;
   }


    @media screen and (min-width: 1000px) {


       /*iPad Navigation Bar - ALL PAGES*/

        .logo img {
            padding-left: 30px;
       }
        nav a {
            padding: 50px;
       }


       /*iPad Image Header - ALL PAGES*/

        #header {
            display:block;
            height: 100%;
            width: 100%;
            max-height: 100%;
            margin: 0;
            padding: 0;
            position: relative;
            color: white;
            z-index: 10;
            text-align: center;
       }
        #mobileheader {
            display: none;
       }
        h2{
            top: 140px;
            font-size: 70px;
       }
        h3{
            visibility: visible;
            top: 580px;
            width: 100%;
            margin: 0 auto;
            text-decoration: none;
            position: absolute;
            text-shadow: 2px 2px black;
            font-size: 25px
       }


       /*iPad Slideshow Facilities Section - HOME PAGE*/

        .slideshow {
            width: var(--picWidth);
            height: 667px;
       }


       /*iPad Slideshow Facilities Section - HOME PAGE*/

        .slideshow img {
            width: var(--picWidth);
       }


       /*iPad Upcoming Events Section - EVENTS AND FACILITIES PAGE*/

        .upcomingevents {
            margin-top: -370px;
       }


       /*iPad About CHAPs Section - CHAPs PAGE*/

       .upper {
           margin-top: -400px;
       }
       #chapsposter {
         display:block;
       }

       /*iPad Footer - ALL PAGES*/

        footer {
            padding: 6em 1em 2em 1em;
       }
        @media screen and (min-width: 1250px) {


           /*Desktop Navigation Bar - ALL PAGES*/

            nav {
                justify-content: center;
           }


           /*Desktop Image Header - ALL PAGES*/

            h3 {
                visibility: visible;
                top: 750px;
           }


           /*Desktop Events section - HOME PAGE*/

            .inner-box {
                padding-bottom: 30px;
           }


           /*Desktop CHAPs Box - HOME PAGE*/

            #leftbox {
                margin-right: 125px;
           }


           /*iPad Footer - ALL PAGES*/

            footer {
                padding: 8em 1em 2em 1em;
           }
